<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>

  <!-- Link to FontAwesome for the LinkedIn Icon -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

 

  <footer class="absolute bottom-0 w-full text-right text-black py-2 px-4 font-cursive flex items-center justify-end">
    Created by Abdullah | 
    <a class="fab fa-linkedin bg-white rounded text-2xl text-blue-600 ml-2 flex items-center" href="https://www.linkedin.com/in/muhammad-abdullah-08879822a/" target="_blank">
  
    </a>
</footer>

<style>
    .font-cursive {
        font-family: 'Dancing Script', cursive;
    }
</style>


  

